.header{
    background-color: rgb(83, 83, 83);
    height: 100px;
    display: flex;
}

.logo{
    display: flex;
    padding-left: .1em;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 3em;
    font-weight: bold;
}

.Butter{
    color: rgb(255, 174, 0);
}

.Bot{
    color: black;
}

.img{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right:1%; 
}

.img img{
    height: 50%;
    padding-right: 2%;
   
}

.img img:hover{
    cursor: pointer;
}

nav{
    position: relative;
    display: flex;
    list-style: none;
    width: 100%;
}

.nav-items{
    background-color: gray;
    color: white;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    border-right: 1px solid black;
    justify-content: center;
    align-items: center;
}

a{
    width: 100%;
}

.nav-items:hover{
    cursor: pointer;
    background-color: rgb(66, 65, 65);
}

.content{
    display: flex;
    height:500px;
    width:100%;
    background-color: rgb(255, 196, 0);
}

.left-placeholder{
    width:20%;
    justify-content: flex-start;
    border-right: 1px solid black; 

}

.center-placeholder{
    width: 60%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.right-placeholder{
    width:20%;
    justify-content: flex-end;
    border-left: 1px solid black;
}

.footer{
    display: flex;
    background: black;
    color: white;
    height:100px;
}

.licensing{
    align-items: flex-end;
}